<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted p-2">


    <!-- Section: Links  -->
    <div class="">
      <div class="container text-center mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>IndiaKart
            </h6>
            <p>
              Consumers find a product of interest of the retailer directly or by searching among
              alternative vendors using a shopping search engine, which displays the same product's
              availability and pricing at different e-retailers.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#"  class="text-reset">Iphone 13</a>
            </p>
            <p>
              <a href="#"  class="text-reset">Galaxy F62</a>
            </p>
            <p>
              <a href="#"  class="text-reset">Mango</a>
            </p>
            <p>
              <a href="#"  class="text-reset">IPhone 13</a>
            </p>
          </div>
          <!-- Grid column -->
  
  
  
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p>Denton, Texas, 76201, US</p>
            <p>
             indiakart@shop.com
            </p>
            <p> + 022 234 567 88</p>
            <p> + 022 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </div>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-reset fw-bold" href="#">indiakart.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  